<div class="featured" style="padding-bottom: {{ if .Params.tags }} 16px {{ else }} 8px {{ end }}">
    <article class="post type-post status-publish format-standard has-post-thumbnail hentry group">
        <div class="post-inner post-hover">
            <div class="post-meta group">
                <p class="post-date">{{ .Date.Format .Site.Params.DateFormat }}</p>
                {{ if .Params.categories }}
                    <p class="post-category">&nbsp;&nbsp;&nbsp;
                        <a style="color: #bbb;" rel="nofollow" href="/categories/" title="All categories"><i class="far fa-folder-open"></i></a>&nbsp;
                        {{ range .Params.categories }}
                            <a style="color: #bbb;" href="/categories/{{ . | urlize }}/" title="All posts in category {{ . }}" rel="category tag">{{ . }}&nbsp;</a>
                        {{end}}
                    </p>
                {{ end }}
                {{ if .Params.series }}
                    <p class="post-series" style="color: #bbb;">
                        {{if .Params.categories}}&nbsp;{{ end }}
                        <a style="color: #bbb;" rel="nofollow" href="/series/" title="All series"><i class="far fa-bookmark"></i></a>&nbsp;
                        {{ range .Params.series }}
                            <a style="color: #bbb;" href="/series/{{ . | urlize }}/" title="All posts in series {{ . }}" rel="series tag">{{ . }}&nbsp;</a>
                        {{ end }}
                    </p>
                {{ end }}
            </div>
            <h2 class="post-title">
                <a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a>
            </h2>
            {{ $shouldShowCover := .Params.cover }}
            <div {{ if $shouldShowCover }} style="min-height: 108px;" {{ end }}>
                <a href="{{ .Permalink }}" rel="bookmark" style="color: inherit;">
                    {{ if $shouldShowCover }}
                        <div class="post-cover">
                            <img src="{{ .Params.cover }}" loading="lazy" style="object-fit: cover; width: 100%; height: 100%;"/>
                        </div>
                    {{ end }}
                    <div class="entry excerpt">
                        <p>
                            {{if .Params.description }}
                                {{ .Params.description }}
                            {{ else }}
                                {{ if $shouldShowCover }}
                                    {{- substr .Summary 0 106 -}}
                                {{ else }}
                                    {{- substr .Summary 0 200 -}}
                                {{ end }}...
                            {{ end }}
                            <small class="post-read-more" style="font-size: small;">阅读全文 > </small>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        {{ if .Params.tags }}
            <p class="post-tags" style="margin: 0;">
                {{ range .Params.tags }}
                    <a rel="tag" href="/tags/{{ . | urlize }}" title="All post with tag {{ . }}">{{ . }}</a>
                {{ end }}
            </p>
        {{ end }}
    </article>
    
</div>
