<div style="border: 1px dashed #e0e0e0; padding: 10px 10px 10px 10px; background-color: #fffeee; background-repeat: no-repeat; background-attachment: scroll; background-position: 1% 50%; border-radius: 6px; -moz-background-size: auto auto; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;">
  <div>
      <p style="margin-top:0px;">
        作者：<a target="_blank" href="{{ .Site.Params.Author.homepage }}">{{ .Site.Params.Author.name }}</a><br />
        本文出处：<a target="_blank" href="{{ .Permalink }}">{{ .Permalink }}</a><br />
        互联网日新月异，请注意文章时效。 <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i><i class="fab fa-creative-commons-nc"></i><i class="fab fa-creative-commons-sa"></i>
        </a>
        本作品采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a> 进行许可。文章版权归作者所有，允许转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，否则保留追究法律责任的权利。 <br />
      </p>
  </div>
</div>